# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
.env/
.venv/
ENV/

# Streamlit
.streamlit/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Other
*.sqlite3
*.db
*.bak
*.swp
*.swo

# OneDrive
*.tmp
~$*
